<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A585A1F9-2DEE-4BC8-B061-E9B6B141B05A</key>
	<dict>
		<key>partialPath</key>
		<string>2017/a/ahall</string>
		<key>policySearch</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
