<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01929328-2C5B-43FA-BB57-D87002506A80</key>
	<dict>
		<key>partialPath</key>
		<string>2018/n/nmu</string>
		<key>policySearch</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
